

.MainArticle {
    background-image: url('../assets/Parchment2.png');
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "F1776_Independence W00 Normal";
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.25px;
}

.JapaneseText {
     font-family: "New Tegomin", serif;
     font-size: 19px;
}


.ArticleTitle {
    width: 40%;
    font-size: 2.75em;
}

.ArticleImage {
    width: 40%;

    margin: 30px 0 10px 0;
}

.ArticleImageCaption {
    text-align: left;

    color: #696969;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.ArticleBody {
    width: 40%;
    text-align: left;
}
